USE [master]
GO
/****** Object:  Database [SistemaVentasDB]    Script Date: 10/27/2025 10:13:49 PM ******/
CREATE DATABASE [SistemaVentasDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaVentasDB', FILENAME = N'C:\Data\SistemaVentasDB\PRIMARY\SistemaVentasDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ), 
 FILEGROUP [CURRENT]  DEFAULT
( NAME = N'SistemaVentasDB_Current', FILENAME = N'C:\Data\SistemaVentasDB\CURRENT\SistemaVentasDB_Current.ndf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ), 
 FILEGROUP [HISTORY] 
( NAME = N'SistemaVentasDB_History', FILENAME = N'C:\Data\SistemaVentasDB\HISTORY\SistemaVentasDB_History.ndf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ), 
 FILEGROUP [INDEX] 
( NAME = N'SistemaVentasDB_Index', FILENAME = N'C:\Data\SistemaVentasDB\INDEX\SistemaVentasDB_Index.ndf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaVentasDB_log', FILENAME = N'C:\Data\SistemaVentasDB\PRIMARY\SistemaVentasDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaVentasDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaVentasDB]
GO
/****** Object:  Schema [Dimension]    Script Date: 10/27/2025 10:13:49 PM ******/
CREATE SCHEMA [Dimension]
GO
/****** Object:  Schema [Fact]    Script Date: 10/27/2025 10:13:49 PM ******/
CREATE SCHEMA [Fact]
GO
/****** Object:  Table [Dimension].[DimCustomer]    Script Date: 10/27/2025 10:13:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Dimension].[DimCustomer](
	[customer_key] [int] IDENTITY(1,1) NOT NULL,
	[customer_code] [varchar](50) NOT NULL,
	[customer_name] [varchar](200) NOT NULL,
	[customer_type] [varchar](50) NOT NULL,
	[country] [varchar](100) NOT NULL,
 CONSTRAINT [PK_DimCustomer] PRIMARY KEY CLUSTERED 
(
	[customer_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Dimension].[DimDate]    Script Date: 10/27/2025 10:13:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Dimension].[DimDate](
	[date_key] [int] NOT NULL,
	[full_date] [date] NOT NULL,
	[month_num] [int] NOT NULL,
	[quarter_num] [int] NOT NULL,
	[year_num] [int] NOT NULL,
 CONSTRAINT [PK_DimDate] PRIMARY KEY CLUSTERED 
(
	[date_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Dimension].[DimProduct]    Script Date: 10/27/2025 10:13:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Dimension].[DimProduct](
	[product_key] [int] IDENTITY(1,1) NOT NULL,
	[product_code] [varchar](50) NOT NULL,
	[product_name] [varchar](200) NOT NULL,
	[category] [varchar](50) NULL,
 CONSTRAINT [PK_DimProduct] PRIMARY KEY CLUSTERED 
(
	[product_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Dimension].[DimSalesperson]    Script Date: 10/27/2025 10:13:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Dimension].[DimSalesperson](
	[salesperson_key] [int] IDENTITY(1,1) NOT NULL,
	[salesperson_code] [varchar](50) NOT NULL,
	[salesperson_name] [varchar](100) NOT NULL,
 CONSTRAINT [PK_DimSalesperson] PRIMARY KEY CLUSTERED 
(
	[salesperson_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Dimension].[DimStore]    Script Date: 10/27/2025 10:13:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Dimension].[DimStore](
	[store_key] [int] IDENTITY(1,1) NOT NULL,
	[store_code] [varchar](50) NOT NULL,
	[store_name] [varchar](200) NOT NULL,
	[country] [varchar](100) NOT NULL,
	[region] [varchar](100) NOT NULL,
	[city] [varchar](100) NOT NULL,
 CONSTRAINT [PK_DimStore] PRIMARY KEY CLUSTERED 
(
	[store_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Fact].[FactSales]    Script Date: 10/27/2025 10:13:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Fact].[FactSales](
	[sales_key] [bigint] IDENTITY(1,1) NOT NULL,
	[date_key] [int] NOT NULL,
	[product_key] [int] NOT NULL,
	[customer_key] [int] NOT NULL,
	[store_key] [int] NOT NULL,
	[salesperson_key] [int] NOT NULL,
	[invoice_number] [varchar](50) NOT NULL,
	[line_number] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](18, 2) NOT NULL,
	[total_amount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_FactSales] PRIMARY KEY CLUSTERED 
(
	[sales_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Fact].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimCustomer] FOREIGN KEY([customer_key])
REFERENCES [Dimension].[DimCustomer] ([customer_key])
GO
ALTER TABLE [Fact].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimCustomer]
GO
ALTER TABLE [Fact].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimDate] FOREIGN KEY([date_key])
REFERENCES [Dimension].[DimDate] ([date_key])
GO
ALTER TABLE [Fact].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimDate]
GO
ALTER TABLE [Fact].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimProduct] FOREIGN KEY([product_key])
REFERENCES [Dimension].[DimProduct] ([product_key])
GO
ALTER TABLE [Fact].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimProduct]
GO
ALTER TABLE [Fact].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimSalesperson] FOREIGN KEY([salesperson_key])
REFERENCES [Dimension].[DimSalesperson] ([salesperson_key])
GO
ALTER TABLE [Fact].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimSalesperson]
GO
ALTER TABLE [Fact].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimStore] FOREIGN KEY([store_key])
REFERENCES [Dimension].[DimStore] ([store_key])
GO
ALTER TABLE [Fact].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimStore]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Guarda los datos básicos de los clientes (nombre, tipo y país) para analizar hábitos y volumen de compra.' , @level0type=N'SCHEMA',@level0name=N'Dimension', @level1type=N'TABLE',@level1name=N'DimCustomer'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Contiene las fechas y periodos (mes, trimestre, año) para analizar las ventas a lo largo del tiempo.' , @level0type=N'SCHEMA',@level0name=N'Dimension', @level1type=N'TABLE',@level1name=N'DimDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Registra los productos con su código, nombre y categoría para identificar cuáles se venden más o menos.' , @level0type=N'SCHEMA',@level0name=N'Dimension', @level1type=N'TABLE',@level1name=N'DimProduct'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Contiene los vendedores y permite medir el desempeño individual en las ventas.' , @level0type=N'SCHEMA',@level0name=N'Dimension', @level1type=N'TABLE',@level1name=N'DimSalesperson'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Almacena la información de las tiendas y su ubicación geográfica (país, región, ciudad) para comparar ventas por zona.' , @level0type=N'SCHEMA',@level0name=N'Dimension', @level1type=N'TABLE',@level1name=N'DimStore'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Registra cada línea de venta con cantidades, precios y montos totales, vinculando producto, cliente, tienda, fecha y vendedor.' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'FactSales'
GO
USE [master]
GO
