USE [master]
GO

-- ============================================
-- ELIMINAR BASE DE DATOS SI EXISTE
-- ============================================
IF EXISTS (SELECT * FROM sys.databases WHERE name = 'OrigenVentas')
BEGIN
    ALTER DATABASE [OrigenVentas] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [OrigenVentas];
END
GO

-- ============================================
-- CREAR BASE DE DATOS ORIGEN
-- ============================================
CREATE DATABASE [OrigenVentas]
 CONTAINMENT = NONE
GO

USE [OrigenVentas]
GO

-- ============================================
-- CREAR ESQUEMAS
-- ============================================
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'Origen')
BEGIN
    EXEC('CREATE SCHEMA [Origen]');
END
GO

-- ============================================
-- CREAR TABLAS DE DIMENSIONES
-- ============================================

-- DimCustomer (igual a DataWarehouse)
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF OBJECT_ID('[Origen].[DimCustomer]', 'U') IS NOT NULL
    DROP TABLE [Origen].[DimCustomer];
GO

CREATE TABLE [Origen].[DimCustomer](
	[customer_key] [int] IDENTITY(1,1) NOT NULL,
	[customer_code] [varchar](50) NOT NULL,
	[customer_name] [varchar](200) NOT NULL,
	[customer_type] [varchar](50) NOT NULL,
	[country] [varchar](100) NOT NULL,
 CONSTRAINT [PK_OrigenCustomer] PRIMARY KEY CLUSTERED 
(
	[customer_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

EXEC sys.sp_addextendedproperty 
    @name=N'MS_Description', 
    @value=N'Tabla de clientes origen - Guarda los datos básicos de los clientes (nombre, tipo y país).' , 
    @level0type=N'SCHEMA', @level0name=N'Origen', 
    @level1type=N'TABLE', @level1name=N'DimCustomer'
GO

-- DimDate (igual a DataWarehouse)
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF OBJECT_ID('[Origen].[DimDate]', 'U') IS NOT NULL
    DROP TABLE [Origen].[DimDate];
GO

CREATE TABLE [Origen].[DimDate](
	[date_key] [int] NOT NULL,
	[full_date] [date] NOT NULL,
	[month_num] [int] NOT NULL,
	[quarter_num] [int] NOT NULL,
	[year_num] [int] NOT NULL,
 CONSTRAINT [PK_OrigenDate] PRIMARY KEY CLUSTERED 
(
	[date_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

EXEC sys.sp_addextendedproperty 
    @name=N'MS_Description', 
    @value=N'Tabla de fechas origen - Contiene las fechas y períodos (mes, trimestre, año).' , 
    @level0type=N'SCHEMA', @level0name=N'Origen', 
    @level1type=N'TABLE', @level1name=N'DimDate'
GO

-- DimProduct (igual a DataWarehouse)
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF OBJECT_ID('[Origen].[DimProduct]', 'U') IS NOT NULL
    DROP TABLE [Origen].[DimProduct];
GO

CREATE TABLE [Origen].[DimProduct](
	[product_key] [int] IDENTITY(1,1) NOT NULL,
	[product_code] [varchar](50) NOT NULL,
	[product_name] [varchar](200) NOT NULL,
	[category] [varchar](50) NULL,
 CONSTRAINT [PK_OrigenProduct] PRIMARY KEY CLUSTERED 
(
	[product_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

EXEC sys.sp_addextendedproperty 
    @name=N'MS_Description', 
    @value=N'Tabla de productos origen - Registra productos con código, nombre y categoría.' , 
    @level0type=N'SCHEMA', @level0name=N'Origen', 
    @level1type=N'TABLE', @level1name=N'DimProduct'
GO

-- DimSalesperson (igual a DataWarehouse)
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF OBJECT_ID('[Origen].[DimSalesperson]', 'U') IS NOT NULL
    DROP TABLE [Origen].[DimSalesperson];
GO

CREATE TABLE [Origen].[DimSalesperson](
	[salesperson_key] [int] IDENTITY(1,1) NOT NULL,
	[salesperson_code] [varchar](50) NOT NULL,
	[salesperson_name] [varchar](100) NOT NULL,
 CONSTRAINT [PK_OrigenSalesperson] PRIMARY KEY CLUSTERED 
(
	[salesperson_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

EXEC sys.sp_addextendedproperty 
    @name=N'MS_Description', 
    @value=N'Tabla de vendedores origen - Contiene información de vendedores.' , 
    @level0type=N'SCHEMA', @level0name=N'Origen', 
    @level1type=N'TABLE', @level1name=N'DimSalesperson'
GO

-- DimStore (igual a DataWarehouse)
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF OBJECT_ID('[Origen].[DimStore]', 'U') IS NOT NULL
    DROP TABLE [Origen].[DimStore];
GO

CREATE TABLE [Origen].[DimStore](
	[store_key] [int] IDENTITY(1,1) NOT NULL,
	[store_code] [varchar](50) NOT NULL,
	[store_name] [varchar](200) NOT NULL,
	[country] [varchar](100) NOT NULL,
	[region] [varchar](100) NOT NULL,
	[city] [varchar](100) NOT NULL,
 CONSTRAINT [PK_OrigenStore] PRIMARY KEY CLUSTERED 
(
	[store_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

EXEC sys.sp_addextendedproperty 
    @name=N'MS_Description', 
    @value=N'Tabla de tiendas origen - Almacena información de tiendas y ubicación geográfica.' , 
    @level0type=N'SCHEMA', @level0name=N'Origen', 
    @level1type=N'TABLE', @level1name=N'DimStore'
GO

-- ============================================
-- CREAR TABLA DE HECHOS (FactSales)
-- ============================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF OBJECT_ID('[Origen].[FactSales]', 'U') IS NOT NULL
    DROP TABLE [Origen].[FactSales];
GO

CREATE TABLE [Origen].[FactSales](
	[sales_key] [bigint] IDENTITY(1,1) NOT NULL,
	[date_key] [int] NOT NULL,
	[product_key] [int] NOT NULL,
	[customer_key] [int] NOT NULL,
	[store_key] [int] NOT NULL,
	[salesperson_key] [int] NOT NULL,
	[invoice_number] [varchar](50) NOT NULL,
	[line_number] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](18, 2) NOT NULL,
	[total_amount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_OrigenFactSales] PRIMARY KEY CLUSTERED 
(
	[sales_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- ============================================
-- CREAR FOREIGN KEYS
-- ============================================
ALTER TABLE [Origen].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_OrigenFactSales_DimCustomer] FOREIGN KEY([customer_key])
REFERENCES [Origen].[DimCustomer] ([customer_key])
GO
ALTER TABLE [Origen].[FactSales] CHECK CONSTRAINT [FK_OrigenFactSales_DimCustomer]
GO

ALTER TABLE [Origen].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_OrigenFactSales_DimDate] FOREIGN KEY([date_key])
REFERENCES [Origen].[DimDate] ([date_key])
GO
ALTER TABLE [Origen].[FactSales] CHECK CONSTRAINT [FK_OrigenFactSales_DimDate]
GO

ALTER TABLE [Origen].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_OrigenFactSales_DimProduct] FOREIGN KEY([product_key])
REFERENCES [Origen].[DimProduct] ([product_key])
GO
ALTER TABLE [Origen].[FactSales] CHECK CONSTRAINT [FK_OrigenFactSales_DimProduct]
GO

ALTER TABLE [Origen].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_OrigenFactSales_DimSalesperson] FOREIGN KEY([salesperson_key])
REFERENCES [Origen].[DimSalesperson] ([salesperson_key])
GO
ALTER TABLE [Origen].[FactSales] CHECK CONSTRAINT [FK_OrigenFactSales_DimSalesperson]
GO

ALTER TABLE [Origen].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_OrigenFactSales_DimStore] FOREIGN KEY([store_key])
REFERENCES [Origen].[DimStore] ([store_key])
GO
ALTER TABLE [Origen].[FactSales] CHECK CONSTRAINT [FK_OrigenFactSales_DimStore]
GO

EXEC sys.sp_addextendedproperty 
    @name=N'MS_Description', 
    @value=N'Tabla de ventas origen - Registra cada transacción de venta con cantidades, precios y montos totales.' , 
    @level0type=N'SCHEMA', @level0name=N'Origen', 
    @level1type=N'TABLE', @level1name=N'FactSales'
GO

-- ============================================
-- CREAR ÍNDICES
-- ============================================
CREATE NONCLUSTERED INDEX [IX_OrigenFactSales_DateKey] ON [Origen].[FactSales]([date_key]) ON [PRIMARY];
CREATE NONCLUSTERED INDEX [IX_OrigenFactSales_ProductKey] ON [Origen].[FactSales]([product_key]) ON [PRIMARY];
CREATE NONCLUSTERED INDEX [IX_OrigenFactSales_CustomerKey] ON [Origen].[FactSales]([customer_key]) ON [PRIMARY];
CREATE NONCLUSTERED INDEX [IX_OrigenFactSales_StoreKey] ON [Origen].[FactSales]([store_key]) ON [PRIMARY];
CREATE NONCLUSTERED INDEX [IX_OrigenFactSales_SalespersonKey] ON [Origen].[FactSales]([salesperson_key]) ON [PRIMARY];
CREATE NONCLUSTERED INDEX [IX_OrigenFactSales_InvoiceNumber] ON [Origen].[FactSales]([invoice_number]) ON [PRIMARY];

CREATE UNIQUE NONCLUSTERED INDEX [UX_OrigenCustomer_Name] ON [Origen].[DimCustomer]([customer_name]) ON [PRIMARY];
CREATE UNIQUE NONCLUSTERED INDEX [UX_OrigenProduct_Code] ON [Origen].[DimProduct]([product_code]) ON [PRIMARY];
CREATE UNIQUE NONCLUSTERED INDEX [UX_OrigenStore_Name] ON [Origen].[DimStore]([store_name]) ON [PRIMARY];
CREATE UNIQUE NONCLUSTERED INDEX [UX_OrigenSalesperson_Name] ON [Origen].[DimSalesperson]([salesperson_name]) ON [PRIMARY];
CREATE UNIQUE NONCLUSTERED INDEX [UX_OrigenDate_FullDate] ON [Origen].[DimDate]([full_date]) ON [PRIMARY];
GO

SELECT 
    SCHEMA_NAME(t.schema_id) AS Esquema,
    t.name AS NombreTabla,
    0 AS TotalRegistros,
    'Tabla creada exitosamente' AS Estado
FROM sys.tables t
WHERE SCHEMA_NAME(t.schema_id) = 'Origen'
ORDER BY t.name;
GO

USE [master]
GO

